# ========================================
# Project Tracker - Required Packages
# ========================================

# Web Framework
streamlit==1.45.1

# Data Processing
pandas==2.2.3

# Visualization
plotly==5.24.1

# Database
mysql-connector-python==9.5.0

# Cookie
extra-streamlit-components==0.1.81